@using MvcCV.Models.Entity;
@model List<TBLDENEYİMLERİM>

<div class="resume-section-content">
    <h2 class="mb-5">DENEYİM VE PROJELERİM</h2>
    @foreach (var x in Model)
    {
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">@x.Baslik</h3>
                <div class="subheading mb-3">@x.Altbaslik</div>
                <p>@x.Aciklama</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">@x.Tarih</span></div>
        </div>
    }
</div>