@using MvcCV.Models.Entity;
@model List<TBLHOBİLERİM>

<div class="resume-section-content">
    <h2 class="mb-5">HOBİLERİM</h2>
    @foreach (var item in Model)
    {
        <p>@item.Aciklama1</p>
        <p>@item.Aciklama3</p>
        <p class="mb-0">@item.Aciklama2</p>
       // <p class="mb-0">@item.Aciklama3</p>

    }
</div>
