
<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">
            Bana Ulaşın
        </h2>
        <label>Ad Soyad</label>
        <input type="text" class="form-control" name="Adsoyad" required />
        <label>Mail</label>
        <input type="text" class="form-control" name="Mail" required />
        <label>Konu</label>
        <input type="text" class="form-control" name="Konu" required />
        <label>Mesaj</label>
        <input type="text" class="form-control" name="Mesaj" required />
        <br />
        <button class="btn btn-info">Mesaj Gönder</button>
    </form>
</div>
