@using MvcCV.Models.Entity;
@model List<TBLYETENEKLERIM>

<div class="resume-section-content">
    <h2 class="mb-5">YETENEKELERİM</h2>
    <div class="subheading mb-3">Programlama Dilleri & Araçlar</div>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class="fab fa-java"></i></li>
        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
        <li class="list-inline-item"><i class="fab fa-angular"></i></li>
        <li class="list-inline-item"><i class="fab fa-react"></i></li>
        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3"></i></li>
    </ul>
    <div class="subheading mb-3">Becerilerim</div>
    <ul class="fa-ul mb-0">
        @foreach (var x in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                @x.Yetenek
            </li>
        }
    </ul>
</div>