@using MvcCV.Models.Entity;
@model List<TBLDENEYİMLERİM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Deneyim Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>@item.Baslik</td>
            <td>@item.Altbaslik</td>
            <td>@item.Tarih</td>
            <td><a href="/Deneyim/DeneyimSil/@item.ID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Deneyim/DeneyimGetir/@item.ID" class="btn btn-primary">Düzenle</a></td>
        </tr>
    }
</table>
<a href="/Deneyim/DeneyimEkle/" class="btn btn-success">Yeni Deneyim Ekle</a>
