
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Yeni Kullanıcı Ekleme Sayfası</h4>
<br />
<form method="post">
    <input type="text" class="form-control" name="KullaniciAdi" placeholder="Kullanıcı Adı" />
    <br />
    <input type="text" class="form-control" name="sifre" placeholder="Şifreniz" />    
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>

